@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vina+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar_heading {

}

.navbar_list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1.6rem;
}

ul li a{
    text-decoration: none;
    color: white;
    transition: all 200ms;
    padding: 0.5rem;
    border-radius: 1rem;
}

ul li a:hover {
    background: white;
    color: black;
}


body {
    background: black;
    min-height: 100vh;
    min-width: 100vw;
    color: white;
}

body {
    overflow-x: hidden;;
}


::-webkit-scrollbar{
    display: none;
 }
.backgroundThing {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    animation: rotateInfit 10s infinite linear;
}

.SILGform {
    height: 100%;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formHeading {
    font-size: 6rem;
    margin-block: 3rem;
}

.usernameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid white;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    width: 60%;
    background-color: rgba(0,0,0,0.45);
}

.usernameText {
    text-align: left;
    width: 100%;
    font-size: 1.5rem;
    margin-block: 1.5rem;

}

.usernameInput{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.25rem;
    border: 0.5px solid white;
    outline: none;
    border-radius: 0.5rem;
}

input::placeholder {
    color: white;
}
.input {
    background-color: transparent;
    color: white;


}




.underline {
    height: 10px;
    border-radius: 1rem;
    width:100%;
    background-color: white;
}

.coreBody {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mainbody {
    width: 100vw;
    background-color: rgba(0,0,0,0.95);
    height: 100vh;
    position: absolute;
    top: 100vh;
}

.mainDivHeading {
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20vh;


}

.getGoButton {
    border: 1px solid white;
    background: transparent;
    color: white;
    font-weight: 500;
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    left: 50%;
    position: absolute;
top: 60vh;
    width: 70%;
    transform: translate(-50%);
    transition: all 250ms ease-in-out;
}

.getGoButton:hover {
    background: white;
    color: black;
}

.secondaryDivHeading {
    position: absolute;
    left: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    top: 42vh;
    font-style: italic;
    transform: translate(-50%);
    font-size: 4rem;
    font-weight: 400;
    text-align: left;
}
.saat {
    font-size: 8rem;
    text-align: center;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.lowerBottom {
    font-size: 2rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%);

}


.photoSlider {
    display: flex;
    position: absolute;
    transition: all 250ms;
    width: 150vw;
    gap: 5rem;
    top: 10rem;
    left: 10rem;
}

.rightButton {
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    left: 95%;
    z-index: 20000;
    top: 4rem;
    display: inline-block;;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: default;
}

.aboutUsHeading {
    font-size: 8rem;
    color: white;
    text-align: center;
    margin-block: 2rem;
}

.aboutUsParagraph {
    font-size: 2.5rem;
    text-align: center;
    margin-inline: 10rem;
    margin-top: 8rem;
}


.readMore {
    background: white;
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem;
    margin-inline: auto;
        margin-top: 10rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
}

.fourth_page {
    min-height: 100vh;
    min-width: 100vw;
    top: 300vh;
    position: absolute;
}

.copyright {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    z-index: 1000;
    left: 0;
}

.rightButton::selection{
    display: none;
}

.imageWraper {
    width: 50vw;
    background: blue;
    height: 30rem;
    border-radius: 1rem;
    overflow: hidden;
}

.third_div {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 200vh;
    background: linear-gradient(to bottom, black 50%, #1b1e35 90%);
}

.submitButton {
    background-color: white;
    width: 60%;
    padding: 1rem;
    border-radius: 0.76rem;
    outline: none;
    font-weight: bold;
    border: 0.5px solid white;
    transition: all 250ms;
}


.third_div {
    position: relative;
}

.saatSamundar {
    font-size: 3rem;
    position: absolute;
    top: -2.5rem;
    z-index: 10000;
    background: black;
    left: 50%;
    transform: translate(-50%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 3px solid white;
}

.submitButton:hover {
    background-color: rgba(0,0,0,0.66);
    color: white;
}

.upThing {
    color: black;
    background-color: white;
    position: absolute;
    padding-inline: 2rem;
    top: -4.9rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding-block: 1rem;
    font-size: 2rem;

}

.divider {
    width: 100vw;
    background-color: white;
    height: 5px;
    position: absolute;
    top: 0;
    z-index: 10;
}
.samundar {
    font-size: 8rem;
    text-align: center;
}


.paar {
    font-size: 8rem;
    text-align: center;
    line-height: 1.5;

}

.main_heading {
    font-size: 6rem;
    font-weight: bold;
}

.navbar {
    width: 80vw;
    border: 0.5px solid white;
    display: flex;
    color: white;
    position: fixed;
    left: 50%;
    top: 1.6rem;
    background: rgba(0,0,0,0.39);
    backdrop-filter: blur(200px);
    transform: translate(-50%);
    justify-content: space-between;
    padding-inline: 3rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    align-content: center;
}



.main_div {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(50px);
}


@keyframes rotateInfit {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.passwordDiv {
     display: flex;
     flex-direction: column;
     justify-content: center;
     border: 0.5px solid white;
     align-items: center;
     padding: 1rem;
     border-radius: 1rem;
     width: 60%;
    margin-block: 2rem;
     background-color: rgba(0,0,0,0.45);
 }

.passwordText {
    text-align: left;
    width: 100%;
    font-size: 1.5rem;
    margin-block: 1.5rem;

}

.passwordInput{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.25rem;
    border: 0.5px solid white;
    outline: none;
    border-radius: 0.5rem;
}


@media (max-width:  1000px) {
    .saat {
        font-size: 5rem;
    }
}